{
   "additionalProperties":{
      "cxFlow":{
         "application":"Testing_GOAT_CxFLow",
         "branches":[
            "CxFlow"
         ],
         "bugTracker":"JIRA",
         "jira":{
            "project":"GC",
            "issue_type":"Bug",
            "opened_status":[
               "To Do",
               "In Progress",
               "In Review"
            ],
            "closed_status":[
               "Done"
            ],
            "open_transition":"In Progress",
            "close_transition":"Done",
            "priorities":{
               "High":"High",
               "Medium":"Medium",
               "Low":"Low"
            },
            "fields":[
               {
                  "type":"result",
                  "name":"application",
                  "jira_field_name":"Application",
                  "jira_field_type":"label"
               },
               {
                  "type":"sca-results",
                  "name":"direct-dependency",
                  "jira_field_name":"Direct",
                  "jira_field_type":"single-select"
               }
            ]
         }
      }
   }
}