{
    "version": 1.0,
    "project": "${repo}-${branch}",
    "team": "/CxServer/TeamA/TeamB",
    "additionalProperties": {
        "cxFlow": {
            "thresholds": {
                "HIGH": 1,
                "MEDIUM": 1,
                "LOW": 10
            }
        }
    },  
    "sast": {
        "incremental": "true"
    },
    "sca": {
        "team": "/CxServer",
        "projectName" : "${repo}-${branch}", 
        "thresholdsSeverity": {
            "HIGH": 1,
            "MEDIUM": 1,
            "LOW": 1
        }
    },
    "github": {
        "block-merge": "true",
        "error-merge": "true"
    }
}